#MacOS
.DS_Store
.netrc

# XCode
/.build
/Packages
xcuserdata/
DerivedData/

# SwiftPM
.swiftpm/configuration/registries.json
.swiftpm/xcode

# Bundler
.bundle/
vendor/bundle

# Fastlane
.fastlane/
fastlane/Appfile
fastlane/report.xml